# Project Pages (default production build):
# VITE_BASE=/hope1source.org/
# VITE_SITE_ORIGIN=https://hopeonesource.github.io
#
# Custom domain (hope1source.org) or Cloudflare Pages:
# VITE_BASE=/
# VITE_SITE_ORIGIN=https://hope1source.org

VITE_BASE=/hope1source.org/
VITE_SITE_ORIGIN=https://hopeonesource.github.io
